mkdocs-material==9.5.3             # https://github.com/squidfunk/mkdocs-material
pygments==2.17.2                    # https://github.com/pygments/pygments
watchfiles==0.21.0                  # https://github.com/samuelcolvin/watchfiles
